/* Main Page */
.title {
  color: #f82f62;
}

.container-box {
  padding: 20px 15px;
}

.category-box {
  margin-bottom: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.movie-link {
  display: flex;
  flex-direction: column;
}

.movie-link img {
  margin-bottom: 7px;
}

.movie-link div {
  display: -webkit-box;
  width: 100%;
  font-size: 10px;
  /*2줄로 제한*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.toolbar-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.toolbar-flex .icon {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Movie/:id Page */
.movie-container {
  /* margin: 10px 12px 30px; */
  margin: 10px 12px 70px;
}

.movie-container img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.star-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  padding: 2px 1px;
  margin-bottom: 8px;
  font-weight: 700;
  border: 3px solid #f82f62;
  border-radius: 8px;
}

.movie-title {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 30px;
}

.movie-year {
  margin-bottom: 5px;
  color: grey;
}

.movie-desc {
  margin-bottom: 5px;
}

.movie-director {
  margin-bottom: 3px;
  color: grey;
}

.movie-actor {
  color: grey;
  margin-bottom: 24px;
}

.movie-actor div {
  display: inline-block;
}

.movie-actor div > a::after {
  display: inline-block;
  content: ' , ';
  clear: right;
  margin-right: 3px;
}

.movie-actor div > a:last-child::after {
  display: none;
}

.movie-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.movie-btn > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-btn > div > a {
  margin-bottom: 10px;
}

.buy > i {
  color: #fff;
}

/* TopNavBar */
.back > i {
  margin-right: 10px;
}

.back > span {
  font-weight: 700;
}

/* CategoryList Page */
#category-list {
  margin-top: 0;
}

/* Category Page */
#category-title {
  display: flex;
  justify-content: center;
  padding: 30px 20px 10px;
  font-size: 18px;
  color: #f82f62;
}

.colswiper-block {
  padding: 0 16px;
}

.colswiper-row {
  margin-bottom: 20px;
  font-size: 12px;
}

.colswiper-col a {
  width: 100%;
}

.colswiper-col img {
  width: 100%;
  height: 100px;
}

.content-null {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #f82f62;
}

/* LogIn Page */
.login-form {
  width: 90%;
  margin: 50px auto 0;
}

.login-form .input-error-message,
.login-form .item-input-error-message {
  margin: 5px 0 7px;
  color: #f82f62;
}

.login-form .list {
  margin: 15px 0 20px;
}

.login-button {
  margin-bottom: 8px;
  font-weight: 700;
}

.for-sign-up {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.for-sign-up > span {
  margin-right: 5px;
  color: grey;
}

.for-sign-up > a {
  text-decoration: underline;
}

/* My Page */
.like-tab {
  padding-top: 22px;
}

.user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
}

.user-info {
  display: flex;
  align-items: center;
  width: 230px;
  overflow: hidden;
}

.user-info > i {
  margin-right: 18px;
  font-size: 52px;
}

.user-info > span {
  font-weight: 700;
  font-size: 20px;
}

.logout-btn {
  width: 80px;
  /* height: 24px; */
  padding: 3px 2px;
  border: 2px solid lightslategray;
  border-radius: 16px;
  color: lightslategray;
}

.tabLink-box {
  display: flex;
  justify-content: space-evenly;
  /* padding: 10px 0; */
  /* background-color: rgb(33, 34, 35); */
}

.tabLink-box a {
  padding: 8px 8px;
  font-weight: 700;
  font-size: 13px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(33, 34, 35);
}

.tabLink-box > .tab-link-active {
  border: 2px solid #f82f62;
  background-color: #f82f62;
}

/* 정보 수정 */
.tab-active .login-form {
  margin-top: 0;
}

/* Order Complete Page */
.break-word {
  word-break: keep-all;
}
