/* Main Page */
.title {
  color: #f82f62;
}

.container-box {
  padding: 20px 15px;
}

.category-box {
  margin-bottom: 15px;
}

.block-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.movie-link {
  display: flex;
  flex-direction: column;
}

.movie-link img {
  margin-bottom: 7px;
}

.movie-link div {
  display: -webkit-box;
  width: 100%;
  font-size: 10px;
  /*2줄로 제한*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.toolbar-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.toolbar-flex .icon {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Movie/:id Page */
.movie-container {
  margin: 10px 12px 20px;
}

.movie-container img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.star-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  padding: 2px 1px;
  margin-bottom: 8px;
  font-weight: 700;
  border: 3px solid #f82f62;
  border-radius: 8px;
}

.movie-title {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 30px;
}

.movie-year {
  margin-bottom: 5px;
  color: grey;
}

.movie-desc {
  margin-bottom: 5px;
}

.movie-director {
  margin-bottom: 3px;
  color: grey;
}

.movie-actor {
  color: grey;
}

.movie-actor div {
  display: inline-block;
}

.movie-actor div > a::after {
  display: inline-block;
  content: ' , ';
  clear: right;
  margin-right: 3px;
}

.movie-actor div > a:last-child::after {
  display: none;
}

/* TopNavBar */
.back > i {
  margin-right: 10px;
}

.back > span {
  font-weight: 700;
}
